*{
   margin:0;
   padding:0;
   box-sizing: border-box; 
   font-size:20px;
}

img,
iframe {
max-width: 100%;
height: auto;
/* so that aspect ratio is kept even if height is declared in markup */ 
border: 0;
/* this stops a border if the image is inside a link */
}

/* This is a CSS comment.
Always comment your work to explain what you're doing */ 
body {

  font-family: "Mali", cursive;
  font-weight: 400;
  font-style: normal;
}

/*
background color defaults
Note that HTML and CSS use American spelling (color not colour). */
body {
      background-color: black;
	
	
	
     }
header {
       background-color:#a5cffc;
	
       }
/* Note that if we want a number of different elements to have the same style, we just comma separate them. */
header, footer {
               text-align: center;
               }

/* TYPOGRAPHY*/
h1 {
    font-size:130px;
    color: black;
    text-transform: uppercase;
	text-align: center;
	
   } 
h2 {
    font-size: 50px;
    font-family: 'Lato', sans-serif; 
    text-transform: uppercase;
	text-align: center;
   }
h1,h2,p,li {
            
	color: rgba(0, 0,0, 1);
	
  font-family: "Grandstander", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.item {
       background-color:#a5cffc;
       padding:1%;
       margin:1%; 
       margin-bottom: 20px; 
       margin-top: 20px; 
       border-radius:10px;
	
}
/* let's bring the width in a little */
/* check it out - we're responsive without even trying! */ 
main {
/* There's rarely any time you should set an explicit width. Always use max-width wherever possible. */
     max-width: 1400px;
/* Change the above to width: 1000px and see what happens with responsive */
     margin-left: auto;
     margin-right: auto; 
      }

/* let's talk about nesting */ 
.item li {
          margin-left: 25px;
}
blockquote {
text-transform: uppercase; 
font-style: italic;
	text-align: center;
}


nav {
text-align: center;
}
nav li {
display: inline-block;
}
/* nav li a, or nav a ?? */ nav a {
background: #89add2; 
color: black;
padding: 10px; 
text-decoration: none; 
border-radius: 5px;
}
nav a:hover {
background:#a5cffc;
}
body {
background-color: white;
background-image: WHITE;
background-repeat: no-repeat; 
background-size: cover;
}
img
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
table {
 align: center;
	border: black;
	background-color: #a5cffc;
}

